* {
    box-sizing: border-box;
}
.container {
    width: 1352px;
    margin: 0 auto;
}
.header {
    width: 100vw;
    height: 70px;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    margin: auto 0;
}
.header__logo a {
    text-decoration: none;
    color: #08A6E4;
    cursor: pointer;
}
.header__list {
    display: flex;
    justify-content: space-between;
}
.header__items {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #A5A5A5;
    text-transform: uppercase;
    margin-right: 95px;
    padding: 29px 12px 26px 12px;
    border-bottom: 4px solid #fff;
}
.header__items:nth-child(4) {
    margin-right: 0;
}
.header__items:hover {
    color: #000;
    border-bottom: 4px solid #08A6E4;
    padding: 29px 12px 26px 12px;
    cursor: pointer;
}
.hero {
    height: 100vh;
    background: url(../assets/Background.png) no-repeat bottom -79px center;
    background-size: auto 56vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    position: relative;
    top: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 49px;
    margin-bottom: 20px;
}
.hero p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000;
}
.hero__btn {
    background-color:#08A6E4;
    color: #fff;
    box-shadow: 5px 10px 14px #07ACE629;
}
.btn {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 22px 157px;
    border-radius: 40px;
    margin-top: 38px;
}
.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular__container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin: 0 114px;
    padding-bottom: 121px;
}
.popular__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin: 106px 0 103px;
}
.popular__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 125px;
    position: relative;
}
.popular__h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding-bottom: 19px;
    margin-top: 29px;
}
.popular__image {
    display: flex;
    height: 63px;
}
.popular__image img {
    position: relative;
    left: 22px;
}
.popular__paragraph {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #A5A5A5;
    width: 115px;
    text-align: center;
}
.dot::before {
    content: "";
    display: block;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.first-color::before {
    background-color: #FB3B64;
}
.second-color::before {
    background-color: #08A6E4;
}
.third-color::before {
    background-color: #55DFB4;
}
.info {
    background-color: #F7F7F7;
    padding: 105px 0;
}
.info__box {
    background-color: #fff;
    margin: 0 114px 37px;
}