* {
    box-sizing: border-box;
}
.container {
    width: 1352px;
    margin: 0 auto;
}
.header {
    width: 100vw;
    height: 70px;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    margin: auto 0;
}
.header__logo a {
    text-decoration: none;
    color: #08A6E4;
    cursor: pointer;
}
.header__list {
    display: flex;
    justify-content: space-between;
}
.header__items {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #A5A5A5;
    text-transform: uppercase;
    margin-right: 95px;
    padding: 29px 12px 26px 12px;
    border-bottom: 4px solid #fff;
}
.header__items:nth-child(4) {
    margin-right: 0;
}
.header__items:hover {
    color: #000;
    border-bottom: 4px solid #08A6E4;
    padding: 29px 12px 26px 12px;
    cursor: pointer;
}