* {
    box-sizing: border-box;
}
.container {
    width: 1352px;
    margin: 0 auto;
}
.header {
    width: 100vw;
    height: 70px;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    margin: auto 0;
}
.header__logo a {
    text-decoration: none;
    color: #08A6E4;
    cursor: pointer;
}
.header__list {
    display: flex;
    justify-content: space-between;
}
.header__items {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #A5A5A5;
    text-transform: uppercase;
    margin-right: 95px;
    padding: 29px 12px 26px 12px;
    border-bottom: 4px solid #fff;
}
.header__items:nth-child(4) {
    margin-right: 0;
}
.header__items:hover {
    color: #000;
    border-bottom: 4px solid #08A6E4;
    padding: 29px 12px 26px 12px;
    cursor: pointer;
}
.hero {
    height: 100vh;
    background: url(../assets/Background.png) no-repeat bottom -79px center;
    background-size: auto 56vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    position: relative;
    top: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 49px;
    margin-bottom: 20px;
}
.hero p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000;
}
.hero__btn {
    background-color:#08A6E4;
    color: #fff;
    box-shadow: 5px 10px 14px #07ACE629;
}
.btn {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 22px 157px;
    border-radius: 40px;
    margin-top: 38px;
}
.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 106px;
}
.popular__container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin: 0 114px;
    padding-bottom: 121px;
}
.popular__title, .info__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
}
.info__title span {
    display: block;
}
.popular__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 101px 125px 0;
    position: relative;
}
.popular__h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding-bottom: 19px;
    margin-top: 29px;
}
.popular__image {
    display: flex;
    height: 63px;
}
.popular__image img {
    position: relative;
    left: 22px;
}
.popular__paragraph {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #A5A5A5;
    width: 115px;
    text-align: center;
}
.dot::before {
    content: "";
    display: block;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.first-color::before {
    background-color: #FB3B64;
}
.second-color::before {
    background-color: #08A6E4;
}
.third-color::before {
    background-color: #55DFB4;
}
.info {
    background-color: #F7F7F7;
    padding: 105px 0;
}
.info__box {
    background-color: #fff;
    margin: 0 114px 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 370px;
    position: relative;
}
.info__box:nth-child(3) {
    background-color: #F7F7F7;
    margin: 0 114px 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 370px;
    position: relative;
}
.info__box--small {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 370px;
    position: relative;
    width: 623px;
}
.info__box--smalest {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 370px;
    position: relative;
    width: 440px;
}
.info__txt {
    padding: 0 35px 0 40px;
    width: 43%;
}
.info__box--small .info__txt {
    width: 100%;
}
.info__paragraph {
    padding: 30px 0 50px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
}
.info__underline::before {
    content: "";
    height: 5px;
    width: 330px;
    display: block;
}
.info__imgBox {
    position: relative;
    z-index: 1;
    padding-right: 118px;
}
.info__box--rhombus::before {
    content: "";
    display: block;
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: -1;
    transform: rotate(45deg);
    border-radius: 41px;
    left: 212px;
    top: 0px;
}
.info__box--circle::before {
    content: "";
    display: block;
    width: 320px;
    height: 320px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    left: 70px;
    top: 0px;
}
.info__box--square::before {
    content: "";
    display: block;
    width: 440px;
    height: 370px;
    position: absolute;
    z-index: -1;
    left: 0px;
    top: -80px;
}
.info__img {
    bottom: -34px;
    position: relative;
}
.info__box--circle .info__img {
    left: 55px;
}
.info__box--square .info__img {
    left: 62px;
}