*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $primary-font;
}
.container {
  margin: 0 25px;
}
.header__logo,
.footer__logo {
  @extend %logo;
  font-size: 26px;
  font-weight: 300;
}
.header__logo a,
.footer__logo a {
  @extend %logo__link;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1266px;
  margin: 16px auto 0 auto;
  padding: 0 17px;
}
.header {
  width: 100vw;
  height: 70px;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  position: fixed;
  z-index: 10;
}
.header__list {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: left;
  padding: 20px 0 35px 29px;
  background: $bg;
  top: 72px;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 1;
  transition: 0.8s;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
.header__items {
  padding: 14px 0;
  font-size: 11px;
  font-family: $primary-font;
  letter-spacing: 3.28px;
  text-transform: uppercase;
  &.active a {
    color: #000;
    font-weight: 700;
    border-bottom: 4px solid #08a6e4;
  }
  &:hover {
    font-weight: 700;
  }
  & a {
    text-decoration: none;
    color: #a5a5a5;
  }
}
.hero {
  height: 100vh;
  background: url(../assets/Background.png) no-repeat bottom -79px center;
  background-size: auto 56vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  position: relative;
  top: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 20px;
}
.hero p {
  font-family: $primary-font;
  font-weight: 100;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  text-align: center;
  padding: 0 20px;
}
.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.popular__container {
  margin-top: 100px;
  margin: 100px 114px 0;
  padding-bottom: 121px;
}
.popular__title {
  @extend %title;
  padding: 0 20px;
  text-align: center;
}
.popular__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 28px auto 0;
  position: relative;
}
.popular__h3 {
  font-family: $secondary-font;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 5.96px;
  padding-bottom: 19px;
  margin-top: 29px;
}
.popular__paragraph {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #a5a5a5;
  width: 115px;
  text-align: center;
}
.popular__image {
  display: flex;
  height: 63px;
}
.popular__image img {
  position: relative;
  left: 22px;
}
.dot::before {
  content: '';
  display: block;
  height: 63px;
  width: 63px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.first-color::before {
  background-color: $second-color;
}
.second-color::before {
  background-color: $main-color;
}
.third-color::before {
  background-color: $third-color;
}
.info {
  background-color: $darker-bg;
  padding: 100px 0;
}
.info__box {
  background-color: $bg;
  margin: 0 0 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 21px;
  position: relative;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  max-width: 1124px;
  margin-left: auto;
  margin-right: auto;
}
.info__box:nth-child(3) {
  background-color: $bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 0;
}
.info__title {
  @extend %title;
  padding: 26px 0 42px 0;
  & span {
    display: block;
  }
}
.info__txt {
  order: 2;
}
.info__box--small {
  background-color: #fff;
  position: relative;
}
.info__box--smalest {
  background-color: #fff;
  width: calc(100% + 42px);
  // left: -21px;
}
.info__box--small .info__txt {
  width: 100%;
}
.info__paragraph {
  font-family: $primary-font;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  font-weight: 300;
}
.info__imgBox {
  position: relative;
  z-index: 1;
}
.info__box--rhombus::before {
  content: '';
  display: block;
  width: 90px;
  height: 90px;
  position: absolute;
  z-index: -1;
  transform: rotate(45deg);
  border-radius: 36px;
  left: 109px;
  top: 0px;
}
.info__box--circle::before {
  content: '';
  display: block;
  width: 131px;
  height: 131px;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  left: 15px;
  top: 0px;
}
.info__box--square::before {
  content: '';
  display: block;
  width: 100%;
  height: 195px;
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 20px;
}
.info__img {
  bottom: -34px;
  position: relative;
  margin-bottom: 26px;
}
.info__box--rhombus .info__img {
  height: 110px;
}
.info__box--circle .info__img {
  top: 15px;
  left: 15px;
  height: 134px;
}
.info__box--square {
  display: flex;
  justify-content: center;
  & .info__img {
    margin-bottom: 0;
  }
}
.pricing {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pricing__title {
  @extend %title;
  display: flex;
  justify-content: center;
  padding: 59px 0 14px 0;
}
.pricing__boxes {
  display: flex;
  flex-direction: column;
}
.pricing__boxes--container {
  padding-bottom: 50px;
  max-width: 1266px;
  margin: 0 auto;
}
.pricing__box {
  border: 1px solid $main-color;
  border-radius: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 55px;
}
.pricing__plan {
  width: 50%;
}
.pricing__box--basic {
  border: 1px solid $second-color;
}
.pricing__box--premium {
  border: 1px solid $third-color;
}
.pricing__box--premium .pricing__box__value {
  color: $third-color;
}
.pricing__box--professional .pricing__box__value {
  color: $main-color;
}
.pricing__box--professional .pricing__box__plan {
  font-size: 21px;
}
.pricing__box--basic span.btn {
  background-color: $second-color;
}
.pricing__box--basic span.btn:hover {
  background-color: darken($color: $second-color, $amount: 15);
}
.pricing__box--premium span.btn {
  background-color: $third-color;
}
.pricing__box--premium span.btn:hover {
  background-color: darken($color: $third-color, $amount: 15);
}
.pricing__box--professional span.btn.professional {
  background-color: $main-color;
}
.pricing__box--professional span.btn.professional:hover {
  background-color: adjust-hue($color: $main-color, $degrees: 7);
}
.pricing__box span.btn {
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 23px;
  color: #fff;
  position: absolute;
  bottom: -25px;
  text-align: center;
  font-family: $primary-font;
  font-size: 13px;
  line-height: 9px;
  padding: 19px;
  margin-top: 0;
}
.pricing__box--professional {
  border: 1px solid #07ace6;
  box-shadow: 5px 10px 27px #07ace629;
  margin: 0 -23px 55px -23px;
}
.pricing__box__plan {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 38px;
}
.pricing__box__value {
  font-family: $primary-font;
  font-size: 46px;
  font-weight: 100;
  color: $second-color;
  text-align: center;
  padding: 14px 0 69px;
}
.pricing__box__value span.tagline {
  font-family: $secondary-font;
  font-size: 12px;
  font-weight: 600;
  color: #13253b;
  display: block;
  padding-top: 7px;
}
.pricing__box__feature {
  font-family: $primary-font;
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  width: auto;
}
.pricing__box__feature img {
  border: 1px solid $third-color;
  height: 10px;
  width: 10px;
  left: -10px;
  position: relative;
}
.pricing__feature {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 40%;
}
.uncheck {
  color: $second-color;
  font-size: 8px;
  border: 1px solid $second-color;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  top: -1px;
  left: -10px;
}
.contact__h2 {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 49px;
  line-height: 47px;
  padding-bottom: 10px;
}
.contact__info {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 300;
}
.contact__details {
  color: #a5a5a5;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
}
.contact__phone {
  padding: 0 0 56px 24px;
  position: relative;
  display: inline-block;
}
.contact__mail {
  position: relative;
  padding: 0 30px 17px;
  display: inline-block;
}
.contact__phone::before {
  content: '';
  display: block;
  height: 27px;
  width: 27px;
  background-image: url(../assets/PhoneIcon.svg);
  position: absolute;
  top: -5px;
  left: -4px;
}
.contact__mail::before {
  content: '';
  display: block;
  height: 27px;
  width: 27px;
  background-image: url(../assets/MailIcon.svg);
  position: absolute;
  top: -5px;
  left: -8px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 70px;
}
.form__label {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: $main-color;
  text-transform: uppercase;
  letter-spacing: 3.28px;
  position: absolute;
  pointer-events: none;
  top: 0;
  transition: 0.2s all;
  cursor: text;
}
.form__input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #95989a;
  font-size: 14px;
  height: 40px;
}
input:focus,
input:valid {
  border-bottom: 2px solid $main-color;
}
.form__input:focus ~ label,
.form__input:valid ~ label {
  font-size: 12px;
  top: -20px;
  color: $main-color;
  position: absolute;
}
.form__input:invalid {
  outline: 0;
}
.form__checkbox {
  display: flex;
  margin-top: 30px;
}
.calculate__checkbox {
  display: flex;
  margin-bottom: 20px;
}
.form__checkbox input[type='checkbox'],
.calculate__checkbox input[type='checkbox'] {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 15px;
  margin-right: 10px;
}
.calculate__checkbox input[type='checkbox'] {
  width: 24px;
  height: 24px;
}
.form__checkbox input[type='checkbox']:checked:after,
.calculate__checkbox input[type='checkbox']:checked:after {
  content: url(../assets/Checkmark.svg);
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
}
.calculate__checkbox input[type='checkbox']:checked:after {
  top: 2px;
  left: 5px;
}
.calculate__checkbox input[type='checkbox']:hover {
  background-color: $darker-bg;
}
.checkbox__label,
.checkbox__label--calculate {
  font-family: $primary-font;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  color: #707070;
}
.checkbox__label--calculate {
  line-height: 28px;
}
.checkbox__label--calculate:hover {
  cursor: pointer;
}
.footer {
  box-shadow: 0px -5px 40px #00000029;
}
.footer__copyright {
  font-family: $primary-font;
  font-weight: 300;
  font-size: 11px;
  line-height: 15px;
  color: #a5a5a5;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  max-width: 1266px;
  margin: 0 auto;
  padding: 0 17px;
}
.contact__phone a,
.contact__mail a {
  text-decoration: none;
  color: #a5a5a5;
  cursor: pointer;
}
@media (max-height: 414px) {
  .popular__container {
    margin: 0;
    padding: 20px 0 60px;
    width: 100%;
  }
  .hero .container {
    top: 84px;
  }
}
@media (min-width: 570px) {
  .popular__container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 20px 0 60px;
    width: 100%;
  }
  .info__box {
    flex-direction: row-reverse;
    height: 370px;
  }
  .info__box:nth-child(2) {
    flex-direction: row;
  }
  .info__underline::before {
    content: '';
    height: 4px;
    width: 75%;
    display: block;
    margin-top: 40px;
    border-radius: 3px;
  }
  .info__txt {
    width: 50%;
  }
  .info__box--circle .info__img {
    height: 200px;
  }
  .info__box--circle::before {
    height: 180px;
    width: 180px;
  }
  .info__box--rhombus .info__img {
    height: 130px;
  }
  .info__box--rhombus::before {
    height: 110px;
    width: 110px;
  }
  .info__box:nth-child(3) {
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    border: 0;
  }
  .info__box--small {
    width: 60%;
    height: 304px;
    border-radius: 5px;
    padding: 21px;
  }
  .info__box--smalest {
    width: 35%;
    height: 304px;
    background-color: $third-color;
    border-radius: 5px;
    display: flex;
    align-items: center;
    &.info__img {
      width: 100%;
    }
  }
  .info__box--square .info__img {
    width: 100%;
  }
  .contact {
    width: 80vw;
    margin: 0 auto;
    padding: 150px 0;
  }
}
@media (min-width: 700px) and (max-width: 998px) {
  .header {
    width: 100%;
  }
  .info__box--circle .info__img {
    height: 250px;
  }
  .info__box--circle::before {
    height: 230px;
    width: 230px;
  }
  .info__box--rhombus .info__img {
    height: 170px;
    right: 30px;
  }
  .info__box--rhombus::before {
    height: 130px;
    width: 130px;
    left: 145px;
  }
  .pricing__boxes {
    align-items: center;
  }
  .pricing__feature {
    min-width: 150px;
  }
  .pricing__box {
    min-width: 60vw;
  }
}
@media (min-width: 999px) {
  .popular__container {
    max-width: 1100px;
    padding: 110px 0 60px;
  }
  .info__box--circle .info__img {
    height: 328px;
  }
  .info__box--circle::before {
    height: 320px;
    width: 320px;
  }
  .info__box--rhombus .info__img {
    height: 219px;
    right: 50px;
  }
  .info__box--rhombus::before {
    height: 180px;
    width: 180px;
    left: 164px;
  }
  .info__box {
    padding: 35px;
  }
  .info__box--small {
    width: 57%;
    padding: 35px;
  }
  .info__box--smalest {
    width: 38%;
  }
  .info__txt {
    width: 37%;
  }
  .pricing__boxes {
    flex-direction: row;
    justify-content: space-between;
  }
  .pricing__title {
    padding: 100px 0 50px;
  }
  .pricing__boxes--container {
    min-width: 100vw;
    padding: 0 30px 50px;
  }
  .pricing__box {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing__box__plan {
    padding: 38px 0;
  }
  .pricing__feature {
    padding-bottom: 81px;
    min-width: 150px;
  }
  .pricing__box.pricing__box--professional {
    width: 32%;
  }
  .pricing__box--basic,
  .pricing__box--premium {
    margin: 20px 0 75px 0;
  }
  .pricing__box--professional span.btn.professional {
    width: 165px;
  }
  .contact__box {
    display: flex;
    justify-content: space-between;
    max-width: 896px;
    margin: 0 auto;
  }
  .contact__form {
    max-width: 440px;
  }
  .contact__details {
    display: inline-block;
  }
  .hamburger {
    display: none;
  }
  .header__list {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    box-shadow: none;
    background: transparent;
    z-index: 0;
    text-align: center;
    width: fit-content;
    padding: initial;
    visibility: initial;
    opacity: 1;
  }
  .header__items {
    width: 80px;
    margin-right: 95px;
  }
  .header__items a {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #a5a5a5;
    text-transform: uppercase;
    padding: 29px 12px 22px 12px;
    border-bottom: 4px solid #fff;
    text-decoration: none;
    white-space: nowrap;
  }
  .header__items:nth-child(4) {
    margin-right: 0;
  }
  .header__items a:hover {
    color: #000;
    border-bottom: 4px solid #08a6e4;
    padding: 29px 12px 23px 12px;
    cursor: pointer;
    font-weight: 600;
  }
  .header__nav {
    background: red;
  }
}
